/**Button css****/
.custom-btn {
  color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;

  outline: none;
}
.btn-sb {
  background: #b621fe;
  border: none;
  z-index: 1;
}
.btn-sb:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #663dff;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1),
    4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.btn-sb:hover {
  color: #fff;
}
.btn-sb:hover:after {
  left: 0;
  width: 100%;
}
.btn-sb:active {
  top: 2px;
  border: none;
}

.btn-cancel {
  background: #fc4a1d;
  border: none;
  z-index: 1;
}
.btn-cancel:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #ff4a02;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1),
    4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.btn-cancel:hover {
  color: #fff;
}
.btn-cancel:hover:after {
  left: 0;
  width: 100%;
}
.btn-cancel:active {
  top: 2px;
  border: none;
}

/*custom ant**/
.ant-image-mask-info {
  display: flex;
  align-items: center;
}
.ant-image-preview-img {
  display: inline-block;
}
